<h1><%= @game.name %></h1>
<p><%= @game.summary %></p>
<ul>
  <li>Rating: <%= @game.rating %></li>
  <li>Release Date: <%= @game.release_date %></li>
  <li>Platform(s): <%= @platforms %>  </li>
  <li>Genre(s): <%= @genres %></li>
</ul>

<%= link_to "Back to Games", games_path %>


