<h1><%= @company.name %></h1>
<p><%= @company.description %></p>
<ul>
  <li>Start date: <%= @company.start_date %></li>
  <li>Country: <%= @company.country %>  </li>
</ul>

<p>
  <%= link_to "Edit Company", edit_company_path %>
  <%= link_to "Delete Company", company_path, method: :delete, data: {confirm: "Are you sure, m8?"} %>
</p>
<%= link_to "Back to Companies", companies_path %>