<!DOCTYPE html>
<html>
<head>
  <title>CriticxAlpha</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p><%= notice %></p>
<p><%= alert %></p>

<% if current_user %> Has iniciado sesión como
  <strong><%= current_user.username %></strong>!
  <%= link_to 'Log out', session_path, method: :delete %>
<% else %> <%= link_to 'Log in', login_path %>
  <%= link_to 'Sign up', new_users_path %>
<% end %> <%= yield %>
</body>
</html>
